<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<article>
  <h3 class="">{{ title }}</h3>
  <img class="bg-slate-600" src="{{ image_uri }}" alt="{{ image_alt }}">
  <p>{{ teaser }}</p>
  <a href="{{ link }}">{{ link_label }}</a>
</article>
